@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(132, 147, 130);
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #2D173F;
}
h1,h2,hr {
    padding: 10px;
    margin: 0;
    border-width: 0px;
    text-align: center;
    color: #2D173F;
}
h2 {
    font-size: 24px;
}
.logo {
    text-align: center;
}
.navbar {
    padding:0px;
    margin:0px;
}
.nav-link > a {
    color: #2D173F;
}

.dropdown-menu {
    background-color: rgba(130, 150, 120, 0.8);
}
 
table {
    text-align: left;
    align-content: center;
    border-bottom: 10px;
}

td {
    margin: 10px;
    padding: 10px;
}
